# {{ ansible_managed }}
## Custom Env Vars
export JAVA_HOME={{ java_home }}
export KAFKA_HOME={{ kafka_home }}
export KAFKA_USER={{ kafka_user }}
export SERVER_PROPERTIES={{ kafka_config }}

## Kafka Env Vars
export JMX_PORT=9999

export KAFKA_GC_LOG_OPTS="\
-Xloggc:/var/log/kafka/kafka-gc.log \
-verbose:gc \
-XX:+PrintGCDetails \
-XX:+PrintGCDateStamps \
-XX:+PrintGCTimeStamps"

export KAFKA_HEAP_OPTS="\
-Xms1024m \
-Xmx1024m \
-XX:NewSize=256m \
-XX:MaxNewSize=256m"

export KAFKA_LOG4J_OPTS="-Dlog4j.configuration=file:/etc/kafka/conf/log4j.properties"

export KAFKA_JVM_PERFORMANCE_OPTS="\
-server \
-XX:+UseCompressedOops \
-XX:+UseParNewGC \
-XX:+UseConcMarkSweepGC \
-XX:+CMSClassUnloadingEnabled \
-XX:+CMSScavengeBeforeRemark \
-XX:+DisableExplicitGC \
-Djava.awt.headless=true"

export SCALA_VERSION={{ scala_version }}
