# Aerospike database configuration file.
# {{ ansible_managed }}
# This stanza must come first.
service {
        user root
        group root
        run-as-daemon
        paxos-single-replica-limit 1 # Number of nodes where the replica count is automatically reduced to 1.
        pidfile /var/run/aerospike/asd.pid
		service-threads 24
        transaction-queues 24
        transaction-threads-per-queue 4
		batch-threads 16
        proto-fd-max 15000
   		nsup-period 10
   		nsup-delete-sleep 20
}

logging {
        # Log file must be an absolute path.
        file /var/log/aerospike/aerospike.log {
                context any info
        }
}

network {
        service {
                address any
                port 3000
                reuse-address
                access-address {{ ansible_bond1.ipv4.address }} 
        }

        heartbeat {
                mode multicast
                interface-address {{ ansible_bond1.ipv4.address }}
                address {{ cluster_address }}
                port 9918
                interval 150
                timeout 10
        }

        fabric {
                port 3001
        }

        info {
                port 3003
        }
}

xdr {
    # xdr options
    enable-xdr  {{ xdr_enable }}
    xdr-namedpipe-path  /tmp/xdr_pipe
    xdr-digestlog-path  /opt/aerospike/digestlog 4G
    xdr-errorlog-path   /var/log/aerospike/asxdr.log 
    xdr-pidfile         /var/run/aerospike/asxdr.pid 
    local-node-port 3000
    xdr-info-port   3004 
    # datacenter configs
    datacenter {{ xdr_target_dc }} {
        dc-node-address-port {{ xdr_target_server }} 3000    
    }
}

namespace creatives {
  enable-xdr {{ xdr_enable }} 
  xdr-remote-datacenter {{ xdr_target_dc }}
  replication-factor 2
  memory-size 15G
  default-ttl 300
  storage-engine memory
  high-water-memory-pct 70
  stop-writes-pct 95
}

namespace ppid {
  enable-xdr {{ xdr_enable }} 
  xdr-remote-datacenter {{ xdr_target_dc }}
  replication-factor 3
  default-ttl 180D
  memory-size 5G
  storage-engine memory
  high-water-memory-pct 70
  stop-writes-pct 95
}

namespace throttling {
  enable-xdr {{ xdr_enable }} 
  xdr-remote-datacenter {{ xdr_target_dc }}
  replication-factor 3
  memory-size 16G
  default-ttl 45D
  storage-engine device {
    file /var/lib/aerospike/throttling.data
    filesize 20G
    data-in-memory true
    write-block-size 128K
  }
}
