# {{ ansible_managed }}
#Hostname    ""
FQDNLookup   false
Interval     10
LoadPlugin logfile
loadPlugin tail
LoadPlugin interface
LoadPlugin tcpconns
LoadPlugin nginx
LoadPlugin network

<Plugin interface>
        Interface "lo"
        IgnoreSelected true
</Plugin>

<Plugin tail>
    <File "/var/log/nginx/ssl-traffic.log">
    Instance "nginx_backend"
        <Match>
            Regex "\"([0-9.]+)\"" 
            DSType "GaugeAverage"
            Type "request_time"
            Instance "AvgReqTime"
        </Match>
    </File>
</Plugin>

<Plugin tail>
    <File "/var/log/nginx/ssl-traffic.log">
    Instance "nginx_backend"
        <Match>
            Regex "\"([0-9.]+)\""
            DSType "GaugeMin"
            Type "request_time"
            Instance "MinReqTime"
        </Match>
    </File>
</Plugin>

<Plugin tail>
    <File "/var/log/nginx/ssl-traffic.log">
    Instance "nginx_backend"
        <Match>
            Regex "\"([0-9.]+)\""
            DSType "GaugeMax"
            Type "request_time"
            Instance "MaxReqTime"
        </Match>
    </File>
</Plugin>


<Plugin tail>
    <File "/var/log/nginx/ssl-traffic.log">
    Instance "nginx_backend"
        <Match>
            Regex "\'([0-9.]+)\'" 
            DSType "GaugeAverage"
            Type "request_time"
            Instance "AvgUpstreamResponseTime"
        </Match>
    </File>
</Plugin>

<Plugin tail>
    <File "/var/log/nginx/ssl-traffic.log">
    Instance "nginx_backend"
        <Match>
            Regex "\'([0-9.]+)\'"
            DSType "GaugeMin"
            Type "request_time"
            Instance "MinUpstreamResponseTime"
        </Match>
    </File>
</Plugin>

<Plugin tail>
    <File "/var/log/nginx/ssl-traffic.log">
    Instance "nginx_backend"
        <Match>
            Regex "\'([0-9.]+)\'"
            DSType "GaugeMax"
            Type "request_time"
            Instance "MaxUpstreamResponseTime"
        </Match>
    </File>
</Plugin>

<Plugin tail>
    <File "/var/log/nginx/nginxRPS.log">
    Instance "nginx_backend"
        <Match>
            Regex "([0-9]{1,2}\.[0-9]+)" 
            DSType "GaugeLast"
            Type "request_time"
            Instance "RequestsPerSecond"
        </Match>
    </File>
</Plugin>

<Plugin "logfile">
        LogLevel "info"
        File "/var/log/collectd.log"
        Timestamp true
</Plugin>

<Plugin "nginx">
    URL "http://{{ ansible_fqdn }}:7080/nginx_status"
</Plugin>

<Plugin network>
  Server "influxdb-150.nym1.placeiq.net" "25826"
</Plugin>
