#Hostname    ""
FQDNLookup   false
Interval     10
LoadPlugin syslog
LoadPlugin cpu
LoadPlugin disk
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin write_graphite
LoadPlugin exec
LoadPlugin java
LoadPlugin tcpconns


<Plugin exec>
    Exec "nobody" "/opt/collectd_system_plugin/iostat_collectd_plugin.sh"
</Plugin>

<Plugin exec>
    Exec "nobody" "/opt/collectd_system_plugin/df_collectd_plugin.sh"
</Plugin>

<Plugin disk>
        Disk "/^[mhs]d[a-f][0-9]?$/"
        IgnoreSelected false
</Plugin>

<Plugin interface>
        Interface "lo"
        IgnoreSelected true
</Plugin>

<Plugin write_graphite>
  <Carbon>
    Host "10.16.41.183"
    Port "2003"
    Prefix ""
    Postfix ".collectd"
    StoreRates true
    SeparateInstances true
    AlwaysAppendDS false
    EscapeCharacter "_"
  </Carbon>
</Plugin>

<Plugin "java">

JVMARG "-Djava.class.path=/usr/share/collectd/java/collectd-api.jar:/usr/share/collectd/java/fast-jmx-1.1-SNAPSHOT.jar"
LoadPlugin "org.collectd.FastJMX"

<Plugin "FastJMX">

 MaxThreads 256
 CollectInternal false

<MBean "kafka">
  ObjectName "kafka.controller:type=KafkaController,name=ActiveControllerCount"
  InstancePrefix "Value-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "Value"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=ReplicaManager,name=UnderReplicatedPartitions"
  InstancePrefix "Value-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "Value"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=MessagesInPerSec"
  InstancePrefix "OneMinuteRate-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=ReplicaManager,name=IsrExpandsPerSec"
  InstancePrefix "OneMinuteRate-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=ReplicaManager,name=IsrShrinksPerSec"
  InstancePrefix "OneMinuteRate-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

#
<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=adobe-audience-logs"
  InstancePrefix "OneMinuteRate-adobe-audience-logs-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-ad-responses"
  InstancePrefix "OneMinuteRate-ads-ad-responses-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-appboy-enrichment"
  InstancePrefix "OneMinuteRate-ads-appboy-enrichment-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-appboy-enrichment-blacklisted"
  InstancePrefix "OneMinuteRate-ads-appboy-enrichment-blacklisted-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-blacklisted-responses"
  InstancePrefix "OneMinuteRate-ads-blacklisted-responses-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-clicks"
  InstancePrefix "OneMinuteRate-ads-clicks-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-data-ingest"
  InstancePrefix "OneMinuteRate-ads-data-ingest-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-desktop-clicks"
  InstancePrefix "OneMinuteRate-ads-desktop-clicks-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-desktop-impressions"
  InstancePrefix "OneMinuteRate-ads-desktop-impressions-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-desktop-winbids"
  InstancePrefix "OneMinuteRate-ads-desktop-winbids-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-enrichment"
  InstancePrefix "OneMinuteRate-ads-enrichment-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-enrichment-blacklisted"
  InstancePrefix "OneMinuteRate-ads-enrichment-blacklisted-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-enrichment-logging"
  InstancePrefix "OneMinuteRate-ads-enrichment-logging-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-europe-ad-responses"
  InstancePrefix "OneMinuteRate-ads-europe-ad-responses-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-europe-blacklisted-responses"
  InstancePrefix "OneMinuteRate-ads-europe-blacklisted-responses-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-europe-clicks"
  InstancePrefix "OneMinuteRate-ads-europe-clicks-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-europe-impressions"
  InstancePrefix "OneMinuteRate-ads-europe-impressions-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-europe-noad-responses"
  InstancePrefix "OneMinuteRate-ads-europe-noad-responses-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-europe-winbids"
  InstancePrefix "OneMinuteRate-ads-europe-winbids-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-impressions"
  InstancePrefix "OneMinuteRate-ads-impressions-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-noad-responses"
  InstancePrefix "OneMinuteRate-ads-noad-responses-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-opt-out"
  InstancePrefix "OneMinuteRate-ads-opt-out-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-redirected-impressions"
  InstancePrefix "OneMinuteRate-ads-redirected-impressions-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-thirdparty-id-mapping"
  InstancePrefix "OneMinuteRate-ads-thirdparty-id-mapping-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-thirdparty-impressions"
  InstancePrefix "OneMinuteRate-ads-thirdparty-impressions-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-thirdparty-impressions-logs"
  InstancePrefix "OneMinuteRate-ads-thirdparty-impressions-logs-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=ads-winbids"
  InstancePrefix "OneMinuteRate-ads-winbids-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=dfp-http-requests-responses"
  InstancePrefix "OneMinuteRate-dfp-http-requests-responses-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=http-requests-responses-logs"
  InstancePrefix "OneMinuteRate-http-requests-responses-logs-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=observations_avro"
  InstancePrefix "OneMinuteRate-observations_avro-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

<MBean "kafka">
  ObjectName "kafka.server:type=BrokerTopicMetrics,name=BytesInPerSec,topic=rubicon-http-requests-responses"
  InstancePrefix "OneMinuteRate-rubicon-http-requests-responses-"
  InstanceFrom "name"
  <Value >
    Type "current"
    Table false
    PluginName "KAFKA"
    Attribute "OneMinuteRate"
  </Value>
</MBean>

    <Connection>
     ServiceURL "service:jmx:rmi:///jndi/rmi://{{ ansible_fqdn }}:9999/jmxrmi"
     Collect "kafka"
    </Connection>

  </Plugin>
</Plugin>

