# {{ ansible_managed }}
# For more information on configuration, see:
#   * Official English Documentation: http://nginx.org/en/docs/
#   * Official Russian Documentation: http://nginx.org/ru/docs/

user              nginx;
worker_processes  3;
worker_rlimit_nofile 64000;

error_log  /var/log/nginx/error.log;
#error_log  /var/log/nginx/error.log  notice;
#error_log  /var/log/nginx/error.log  info;

pid        /var/run/nginx.pid;


events {
    worker_connections  8000;
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
#    client_max_body_size 500M;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    log_format placeiq  '$remote_addr $time_local $request_length "$request_time" '
                        '\'$upstream_response_time\' $pipe '
                        '$status $http_host $request [$http_x_forwarded_for] $http_user_agent';

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;
    server {   
	listen 7080;
	location /nginx_status {
                stub_status on;
                access_log off;
                allow 127.0.0.1;
        }
     }
    # Load config files from the /etc/nginx/conf.d directory
    # The default server is in conf.d/default.conf
    include /etc/nginx/sites-enabled/*;
}
