# {{ ansible_managed }}
# HTTPS server
upstream datamart-ui {
        server {{ datamart_proxy_pass }}:80;
        keepalive 8;
}

server {
        listen 1080;
        rewrite     ^   https://$server_name$request_uri? permanent;
        access_log  /var/log/nginx/datamart.placeiq.net.log placeiq;
}

server {
        listen       1443 ssl;
        keepalive_timeout   70;

        access_log  /var/log/nginx/datamart.placeiq.net.log placeiq;
        error_log /var/log/nginx/datamart.placeiq.net.error.log warn;

        ssl_certificate      ssl/placeiq.net.crt;
        ssl_certificate_key  ssl/placeiq.net.key;

        ssl_protocols   TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers     AES256-SHA:TLSv1:SSLv3:!ADH:!RC4:!aNULL:!DH:!EDH:!eNULL:!LOW:!SSLv2:!EXP:!NULL;
        ssl_prefer_server_ciphers  on;

		ssl_session_cache   shared:SSL:10m;
    	ssl_session_timeout 10m;

        location / {
            proxy_buffering off;
            proxy_http_version 1.1;
            proxy_set_header Connection "";
            proxy_set_header    Host    $host;
            proxy_set_header    X-Real-Client-IP    $remote_addr;
            proxy_set_header    X-Forwarded-Proto   https;
            proxy_set_header    SSL                 on;
            proxy_read_timeout 300;
            proxy_pass http://datamart-ui;

        }

}
