# {{ ansible_managed }}
# HTTPS server
upstream adsgateway-placeiq {
        server {{ adserver_proxy_pass }}:8080;
        keepalive 8;
}
server {
        listen       7443 ssl;
        keepalive_timeout   70;

#        access_log  /var/log/nginx/ssl-data.placeiq.com.log placeiq;
        access_log  /var/log/nginx/ssl-traffic.log placeiq;
        error_log /var/log/nginx/ssl-data.placeiq.com.error.log warn;
        
        ssl_certificate      ssl/placeiq.com.crt;
        ssl_certificate_key  ssl/placeiq.com.key;

        ssl_protocols   TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers     AES256-SHA:TLSv1:SSLv3:!ADH:!RC4:!aNULL:!DH:!EDH:!eNULL:!LOW:!SSLv2:!EXP:!NULL;
        ssl_prefer_server_ciphers  on;

		ssl_session_cache   shared:SSL:10m;
    	ssl_session_timeout 10m;

        location / {
            proxy_buffering off;
            proxy_http_version 1.1;
            proxy_set_header Connection "";
            proxy_set_header    Host    $host;
            proxy_set_header    X-Real-Client-IP    $remote_addr;
            proxy_set_header    X-Forwarded-Proto   https;
            proxy_set_header    SSL                 on;
            proxy_pass http://adsgateway-placeiq;

        }
}
