# {{ ansible_managed }}
# HTTPS server
upstream datamart-api {
        server {{ datamart_proxy_pass }}:8090;
        keepalive 8;
}

server {
        listen       5443 ssl;
        keepalive_timeout   70;
        client_body_buffer_size    128k;
        client_max_body_size        50M;


        access_log  /var/log/nginx/datamart-api.placeiq.net.log placeiq;
        error_log /var/log/nginx/datamart-api.placeiq.net.error.log warn;

        ssl_certificate      ssl/placeiq.net.crt;
        ssl_certificate_key  ssl/placeiq.net.key;

        ssl_protocols   TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers     AES256-SHA:TLSv1:SSLv3:!ADH:!RC4:!aNULL:!DH:!EDH:!eNULL:!LOW:!SSLv2:!EXP:!NULL;
        ssl_prefer_server_ciphers  on;

		ssl_session_cache   shared:SSL:10m;
    	ssl_session_timeout 10m;

        location / {
            proxy_buffering off;
            proxy_http_version 1.1;
            proxy_set_header Connection "";
            proxy_set_header    Host    $host;
            proxy_set_header    X-Real-Client-IP    $remote_addr;
            proxy_connect_timeout       60s;
            proxy_send_timeout          420s;
            proxy_read_timeout          200s; 
            proxy_pass http://datamart-api;


        }

}

server {
        listen       5080;
        keepalive_timeout   70;
        client_body_buffer_size     128k;
        client_max_body_size        50M;

        access_log  /var/log/nginx/datamart-api.placeiq.net.log placeiq;
        error_log /var/log/nginx/datamart-api.placeiq.net.error.log warn;

        location / {
            proxy_buffering off;
            proxy_http_version 1.1;
            proxy_set_header Connection "";
            proxy_set_header    Host    $host;
            proxy_set_header    X-Real-Client-IP    $remote_addr;
            proxy_connect_timeout       60s;
            proxy_send_timeout          420s;
            proxy_read_timeout          200s; 
            proxy_pass http://datamart-api;
        }

}
