carbon:
  host: "{{ ansible_default_ipv4.address }}"
  port: 2004
  rollups:
    - "10s:1d"
    - "1m:7d"
    - "5m:30d"
#    - "1h:180d"
#    - period: 60480
#      rollup: 10
#    - period: 105120
#      rollup: 60
     
http:
  host: "{{ ansible_default_ipv4.address }}"
  port: 8081
logging:
  level: warn
  console: true
  files:
    - "/var/log/cyanite/cyanite_2.log"

store:
  cluster: '{{ ansible_default_ipv4.address }}'
  keyspace: 'metric'
  chan_size: 10000 # defaults to 10000
  batch_size: 50 # defaults to 500

index:
  use: "io.cyanite.es_path/es-rest"
  index: "cyanite_paths" #defaults to "cyanite_paths"
  url: "http://10.1.41.215:9200" #defaults to http://localhost:9200
  chan_size: 10000 # defaults to 10000
  batch_size: 1000 # defaults to 1000

