# {{ ansible_managed }}
service {
	user root
	group root
	run-as-daemon
	paxos-single-replica-limit 1 
	pidfile /var/run/aerospike/asd.pid
	service-threads 24
	transaction-queues 24
	transaction-threads-per-queue 4
	batch-threads 16
	proto-fd-max 15000
}

logging {
	file /var/log/aerospike/aerospike.log {
		context any info
	}
}

network {
	service {
		address any
		port 3000
		reuse-address
		access-address {{ ansible_bond1.ipv4.address }}
	}

        heartbeat {
            mode multicast
            interface-address {{ ansible_bond1.ipv4.address }}
            address {{ cluster_address }}
            port 9918
            interval 150
            timeout 10
        }

	fabric {
		port 3001
	}

	info {
		port 3003
	}
}

namespace enricher {
  high-water-memory-pct 60
  high-water-disk-pct 91
  stop-writes-pct 90
  replication-factor 2
  memory-size {{ enricher_memory }}
  default-ttl 0
  storage-engine device {
  cold-start-empty true
  device /dev/sdb
  device /dev/sdc
  device /dev/sdd

  data-in-memory false
  write-block-size 128K
  }
}

namespace piqid {
  high-water-memory-pct 60
  high-water-disk-pct 91
  stop-writes-pct 90
  replication-factor 2
  memory-size {{ piqid_memory }}
  default-ttl 0
  storage-engine device {
  cold-start-empty true
  device /dev/sde
  device /dev/sdf
  device /dev/sdg

  data-in-memory false
  write-block-size 128K
  }
}

namespace blacklist {
  replication-factor 2
  memory-size 768M
  default-ttl 1814400
  storage-engine device {
    file /var/lib/aerospike/blacklist.data
    filesize 512M
    data-in-memory true
    write-block-size 128K
    }
}
