*.sink.graphite.class=org.apache.spark.metrics.sink.GraphiteSink
*.sink.graphite.host=10.16.41.183
*.sink.graphite.port=2003
*.sink.graphite.prefix={{ location_prefix_local.stdout }}.{{ cluster_name }}.{{ ansible_hostname }}.spark
*.source.jvm.class=org.apache.spark.metrics.source.JvmSource
