# {{ ansible_managed }}
################# ElasticSearch Configuration  #####################

### Cluster Name
cluster.name: {{ cluster_name }}

### Node settings
node.name: {{ ansible_hostname }}
node.master: {{ master_node }}
node.data: {{ data_node }}

### Paths
path.data: {{ data_dirs }}

### Indices settings
index.number_of_shards: 2
index.number_of_replicas: 2

### Memory
bootstrap.mlockall: true

### Network
network.bind_host: "0.0.0.0"
network.publish_host: _non_loopback:ipv4_
transport.tcp.compress: true

### Gateway
gateway.recover_after_nodes: 1
gateway.recover_after_time: 5m
gateway.expected_nodes: 4
action.disable_close_all_indices: true
action.disable_delete_all_indices: true
action.disable_shutdown: true

# Indexing Settings for Writes
index.refresh_interval: 30s
index.translog.flush_threshold_ops: 50000

# Unicast Discovery (disable multicast)
discovery.zen.ping.multicast.enabled: false
discovery.zen.ping.unicast.hosts: [ "{{ es_master }}", "{{ es_master_backup }}" ]
