[domain/placeiq.net]

cache_credentials = True
krb5_store_password_if_offline = True
krb5_realm = PLACEIQ.NET
ipa_domain = placeiq.net
id_provider = ipa
auth_provider = ipa
access_provider = ipa
ldap_tls_cacert = /etc/ipa/ca.crt
ipa_hostname = {{ ansible_fqdn }}
chpass_provider = ipa
ipa_server = _srv_
dns_discovery_domain = nym1.placeiq.net
   
#debug_level = 0x1000
#debug_level = 0x3ff0

# SSSD local cache refresh settings interval
#ldap_sudo_full_refresh_interval=600
ldap_sudo_smart_refresh_interval = 300

# configure SUDO and GSSAPI authentication
sudo_provider = ldap
ldap_sudo_search_base = ou=sudoers,dc=placeiq,dc=net
ldap_sasl_mech = GSSAPI
ldap_sasl_authid = host/{{ ansible_fqdn }}
ldap_sasl_realm = PLACEIQ.NET
krb5_server = _srv_

[sssd]
services = nss, sudo, pam, ssh
config_file_version = 2
domains = placeiq.net

[nss]

[pam]

[sudo]
#debug_level = 0x3ff0

[autofs]

[ssh]
